<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Palabras claves y descripcion -->
    <meta name="keywords" content="receta, saludable, rica, comida, postres, bebidas, almuerzo, cena">
    <meta name="description" content="Comidas saludables y ricas para cuidarte sin sacrificar el sabor">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/static/img/logo/003-cuchilleria.ico" type="image/x-icon">
    <title>Recetas ricas y saludables</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- ENCABEZADO -->
    <header>
        <!-- LOGO -->
        <div class="logo">
            <img id="logo" src="#" alt="logo">
        </div>

        <!-- NAVBAR -->
        <nav class="">
            <a class="" href="/index.html">Index</a>
            <a class="" href="recetas.html">Galeria de Recetas</a>
            <a class="" href="contacto.html">Contacto</a>
            <a class="" href="registro.html">Registrarse</a>
            <a class="" href="">Iniciar sesiòn</a>
            <a class="" href="">Carrito</a>
            <a class="" href="#ayuda">Ayuda</a>
        </nav>

    </header>
    <section class="receta">
        <img src="#" alt="Masa para ravioles caseros">

        <h1>Masa para ravioles caseros paso a paso</h1>

        <p>Después vas a probar los ravioles y te vas a olvidar de todo lo que sufriste. <br>De la mesada enquilombada,
            de
            los 20 cacharros que tuviste que lavar, de hacer masa, relleno y salsa, todo a la vez, de lavarte las manos
            enharinadas cada vez que cambiás de actividad… todo, todo, todo eso va a quedar sepultado debajo del sabor
            de
            tus ricos ravioles, debajo del triunfo de tu masa para ravioles perfecta, debajo de los halagos que recibís
            de
            tu familia y amigos por tu pasta
            casera.</p>
        <h2>Ingredientes:</h2>
        <p>Para unas 4 porciones:</p>
        <ul>
            <li>500g. de harina</li>
            <li>4 yemas</li>
            <li>1 cdita. de sal</li>
            <li>¼ de taza de agua tibia</li>
            <li>1 cda. de aceite de oliva</li>
        </ul>
        <h2>Preparación:</h2>
        <ol>
            <li>
                <p>Poner la harina y la sal en un bol en forma de corona. Agregar en el centro las yemas, el agua y el
                    aceite. Pueden saborizar esta masa para ravioles, en mi caso le puse pimentón ya que iba a hacer
                    estos
                    fantásticos ravioles caseros de chorizo y espinaca.</p>
                <img src="../imagenes/harina-huevo.png" alt="Harina y huevo">
                <a href="/imagenes/harina-huevo.png">Ver imagen</a>
            </li>
        </ol>
    </section>

    <!-- PIE DE PAGINA -->

</body>

</html>