<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Palabras claves y descripcion -->
    <meta name="keywords" content="receta, saludable, rica, comida, postres, bebidas, almuerzo, cena">
    <meta name="description" content="Comidas saludables y ricas para cuidarte sin sacrificar el sabor">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/static/img/logo/003-cuchilleria.ico" type="image/x-icon">
    <title>Recetas ricas y saludables</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- ENCABEZADO -->
    <header>
        <!-- LOGO -->
        <div class="logo">
            <img id="logo" src="#" alt="logo">
        </div>

        <!-- NAVBAR -->
        <nav class="">
            <a class="" href="/index.html">Index</a>
            <a class="" href="recetas.html">Galeria de Recetas</a>
            <a class="" href="contacto.html">Contacto</a>
            <a class="" href="registro.html">Registrarse</a>
            <a class="" href="">Iniciar sesiòn</a>
            <a class="" href="">Carrito</a>
            <a class="" href="#ayuda">Ayuda</a>
        </nav>

    </header>
    <section class="receta">
        <img src="/imagenes/recetas-pollo-caprese-con-papas-crocantes.png" alt="Pollo Caprese">
        <h2>Pollo Caprese</h2>
        <h3>Ingredientes:</h3>
        <ul>
            <li>1 pechuga de pollo</li>
            <li>1 tomate</li>
            <li>Queso muzzarella</li>
            <li>Albahaca</li>
            <li>Pimienta Blanca molida</li>
            <li>Condimento para aves</li>
            <li>Ajo Granulado</li>
            <li>Aceite</li>
            <li>Jugo de limón</li>
    
        </ul>
        <h3>Preparación:</h3>
        <ol>
            <li>Cortar la pechuga a la mitad.</li>
            <li>Colocar en un recipiente, y agregar jugo de limón, Pimienta Blanca, Condimento para Aves y Ajo
                Granulado.</li>
            <li>Dejar macerar por 30 minutos en la heladera.</li>
            <li>Una vez listo, colocar en una fuente para horno aceitada.</li>
            <li>Cortar los tomates en rodajas y la muzzarella en trozos, para colocar encima de las pechugas.</li>
            <li>Enviar a horno a temperatura media por 25 minutos o hasta que se encuentren completamente cocidas.</li>
            <li>Al momento de servir, decorar con albahaca cortada en trozos.</li>
            <li>Sirve ¡y disfruta!</li>
        </ol>
    </section>
    <!-- PIE DE PAGINA -->
</body>

</html>