<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Palabras claves y descripcion -->
    <meta name="keywords" content="receta, saludable, rica, comida, postres, bebidas, almuerzo, cena">
    <meta name="description" content="Comidas saludables y ricas para cuidarte sin sacrificar el sabor">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/static/img/logo/003-cuchilleria.ico" type="image/x-icon">
    <title>Recetas ricas y saludables</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- ENCABEZADO -->
    <header>
        <!-- LOGO -->
        <div class="logo">
            <img id="logo" src="#" alt="logo">
        </div>

        <!-- NAVBAR -->
        <nav class="">
            <a class="" href="/index.html">Index</a>
            <a class="" href="recetas.html">Galeria de Recetas</a>
            <a class="" href="contacto.html">Contacto</a>
            <a class="" href="registro.html">Registrarse</a>
            <a class="" href="">Iniciar sesiòn</a>
            <a class="" href="">Carrito</a>
            <a class="" href="#ayuda">Ayuda</a>
        </nav>

    </header>
    <section class="receta">
        <img src="/imagenes/comida/pollo-al-verdeo-con-pollo-hervido-cremoso-y-facil-foto-principal.jpg"
            alt="Pollo al Verdeo Cremoso">
        <h1>Pollo al Verdeo Cremoso</h1>
        <p>Esta receta es una opción deliciosa y nutritiva para una comida completa. El pollo se cocina con cebolla,
            verdeo y una salsa cremosa de queso.</p>
        <h2>Ingredientes:</h2>
        <p>Para unas 4 porciones:</p>
        <ul>
            <li>400 gramos de pollo</li>
            <li>2 cebollas de verdeo</li>
            <li>1 cebolla</li>
            <li>1/2 cubo de caldo</li>
            <li>Aceite de oliva</li>
            <li>2 pocillos de arroz</li>
            <li>1 pedacito de manteca</li>
            <li>Sal y pimienta a gusto</li>
            <li>1 cucharada de almidón de maíz</li>
        </ul>

        <h2>Preparación:</h2>
        <ol>
            <li>Hervimos el pollo con el 1/2 cubito de caldo. Conservamos el caldo.</li>
            <li>En otra olla hervimos el arroz con el doble de caldo. Yo usé 4 pocillos de caldo por 2 de arroz. Cuando
                está
                listo
                agregamos sal, pimienta y manteca.</li>
            <li>Mientras picamos cebolla y verdeo. Rehogamos la cebolla y la parte blanca del verdeo primero en poquito
                aceite. Luego
                agregamos la parte verde y reservamos un poco cruda.</li>
            <li>Cuando esté rehogado agregamos un chorrito de caldo y el pollo cortado en trozos. Mezclamos y
                condimentamos.
            </li>
            <li>Dejamos cocinar unos minutos. No mucho porque ya está todo cocido. Disolvemos 1 cda de almidón de maíz
                en
                caldo frío o
                agua. La agregamos y revolvemos para que nuestra salsa quede cremosa.</li>
            <li>Servimos salpicando con cebolla de verdeo (parte verde) cruda.</li>
        </ol>
    </section>

    <!-- PIE DE PAGINA -->

</body>

</html>