<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Palabras claves y descripcion -->
    <meta name="keywords" content="receta, saludable, rica, comida, postres, bebidas, almuerzo, cena">
    <meta name="description" content="Comidas saludables y ricas para cuidarte sin sacrificar el sabor">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/static/img/logo/003-cuchilleria.ico" type="image/x-icon">
    <title>Recetas ricas y saludables</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- ENCABEZADO -->
    <header>
        <!-- LOGO -->
        <div class="logo">
            <img id="logo" src="#" alt="logo">
        </div>

        <!-- NAVBAR -->
        <nav class="">
            <a class="" href="/index.html">Index</a>
            <a class="" href="recetas.html">Galeria de Recetas</a>
            <a class="" href="contacto.html">Contacto</a>
            <a class="" href="registro.html">Registrarse</a>
            <a class="" href="">Iniciar sesiòn</a>
            <a class="" href="">Carrito</a>
            <a class="" href="#ayuda">Ayuda</a>
        </nav>

    </header>
        <section class="receta">
            <img src="imagenes/receta1.jpg" alt="Tortilla de papas">
            <h1>Tortilla de papas</h1>
            <p>La tortilla de papas es un plato típico de la cocina española, que se elabora con papas, huevos y
                cebolla. Es una receta sencilla y económica, ideal para una comida o cena rápida.</p>
            <h2>Ingredientes:</h2>
            <ul>
                <li>500 g de papas</li>
                <li>1 cebolla</li>
                <li>6 huevos</li>
                <li>Aceite de oliva extra virgen </li>
                <li>Sal</li>
            </ul>
            <h2>Preparación:</h2>
            <ol>
                <li>Pelar y cortar las papas en rodajas finas.</li>
                <li>Cortar la cebolla en juliana fina.</li>
                <li>Calentar aceite de oliva en una sartén a fuego medio.</li>
                <li>Agregar la cebolla y pochar hasta que esté transparente.</li>
                <li>Agregar las papas y cocinar hasta que estén doradas.</li>
                <li>Escurrir las papas y la cebolla del aceite.</li>
                <li>Batir los huevos con un poco de sal.</li>
                <li>Agregar las papas y la cebolla a los huevos batidos y mezclar bien.</li>
                <li>Calentar un poco de aceite de oliva en una sartén a fuego medio-bajo.</li>
                <li>Verter la mezcla de huevos y papas en la sartén.</li>
                <li>Cocinar la tortilla durante unos minutos por cada lado, hasta que esté cuajada.</li>
                <li>Servir la tortilla caliente o fría.</li>
            </ol>
        </section>
    <!-- PIE DE PAGINA -->
</body>
</html>