/* roo: selector especial que vamos a utilizar para aplicar las variables a todo el documento */
:root {
    /*Códigos de colores para la paleta "Cálida y acogedora":
            Colores primarios: Beige: #F5F5DC 
                            Marrón topo: #4D3728 
                            Naranja quemado: #D98748 
            Colores secundarios: Rojo teja: #B35A00 
                            Amarillo mostaza: #F8C273 
                            Verde oliva: #66775F 
            Acentos: Terracota: #A7593E 
                            Dorado: #C7A157 
                            Verde bosque: #2E472E*/
    --color-primario: #F5F5DC;
    --color-fondo-header: #F8C273;
    --color-texto-header: #4D3728;
    --color-body: var(--color-primario);
    --color-largo-sombra: #D98748;
    --color-secundario-teja: #B35A00;
    --color-secundario-oliva: #66775F;
    --color-acento-terracota: #A7593E;
    --color-acento-dorado: #C7A157;
    --color-acento-bosque: #2E472E;
    font-size: 16px;
}

header {
    background-color: var(--color-fondo-header);
    color: var(--color-texto-header);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.top-bar {
    background-color: #5F5E4A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar .top-bar-content {
    width: 50%;
    padding-bottom: 16px;
    padding-top: 16px;
    margin: 0 auto;
    flex-grow: 1;
    box-sizing: inherit;
    text-align: center;
}

.top-bar .top-bar-content a {
    font-family: arial, sans-serif;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.top-bar .top-bar-links {
    width: 50%;
    align-items: center;
    min-width: 298px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 25%;
    position: relative;
    color: white;
    background-color: #4C4A35;
    display: flex;
    justify-content: space-evenly;
}

.social-links {
    display: flex;
    padding: 0;
}

.social-links li {
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}

/* esto tiene que ver von el codigo para hace rel menu contraible en la esquina, ARREGLAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

/* */
.logo {
    width: 30px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease, width 0.3s ease;
}

.logo-container a:hover .logo {
    transform: rotate(20deg);
}

.logo-container {
    display: flex;
}

/* Media queries para  navbar */
@media (max-width: 1024px) {
    .top-bar {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .top-bar-links {
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
        /* align-items: center; */
    }

    .nav a {
        padding: 0.5rem 0;
        /* text-align: center; */
    }
}

@media (max-width: 768px) {
    .top-bar {
        padding: 0 0.5rem;
    }

    .navbar {
        padding: 0 0.5rem;
    }

    .nav a {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .logo {
        height: 40px;
    }

    .top-bar {
        padding: 0 0.25rem;
    }

    .navbar {
        padding: 0 0.25rem;
    }

    .nav a {
        font-size: 0.9rem;
    }
}